---
---

body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.img-half {
	display: inline-block;
	width: 45%;
	height: auto;
	margin: 20px 0;
}

.centered {
	text-align: center;
}

.justify {
	text-align: justify;
}

.capitalize {
	text-transform: capitalize;
}

table.centered th {
	text-align: center;
}

@import "courses";
@import "posts";
@import "lessons";
@import "exercises";
