$base-green: #76923c;
$base-brown: #5d523c;
$base-red: #802021;
$sand: #ddbe92;

.btn.btn-green {
  color: #fff;
  background-color: $base-green;
  border-color: darken($base-green, 10%);
}

.btn.btn-green:hover, .btn.btn-green:focus {
  color: #fff;
  background-color: darken($base-green, 5%);
  border-color: darken($base-green, 15%);
}

.btn.btn-brown {
  color: #fff;
  background-color: $base-brown;
  border-color: darken($base-brown, 10%);
}

.btn.btn-brown:hover, .btn.btn-brown:focus {
  color: #fff;
  background-color: darken($base-brown, 5%);
  border-color: darken($base-brown, 15%);
}

pre {
  background-color: #F0F0F0;
}

.hljs-title, .hljs-literal, .hljs-built_in {
  color: $base-green;
}

.hljs-string, .hljs-number {
  color: $base-red;
}

a {
  color: darken($sand,15%);
}

a:hover, a:focus {
  color: $sand;
}
