.exercices
{

	p
	{
		margin: 10px 0;
		font-size: 12pt;
	}

	hr
	{
		border: 1px dashed #222;
	}

	h2
	{
		background-color: $base-green;
		color: white;
		font-weight: bold;
		text-align: center;
		font-size: 14pt;
		padding: 7px;
		margin: 0;
		margin-top: 100px;
		border-radius: 5px;
	}

	h2:first-child
	{
		margin-top: 0;
	}

}
