$blue: #337ab7;
$light-blue: lighten($blue, 15%);
$light-gray: #ccc;
$dark-gray: #777;

.post .page-header, .post .page-header a {
  color: $light-blue;
}

.post .page-header {
  border-color: $light-gray;
}

.post p {
  padding-bottom: 15px;
}

.post .page-meta {
  font-size: 12px;
}

.post h2 {
  color: $light-blue;
  border-bottom: 1px dashed $light-gray;
  padding: 5px 0;
  text-align: center;
}

.post .legend {
  color: $dark-gray;
  text-align: center;
  margin-top: 3px;
}

.post .page-meta .glyphicon {
  margin-right: 2px;
}

.post .page-meta > span:first-child {
  margin-left: 0;
}

.post .page-meta > span {
  margin: 0 10px;
}

.post-excerpt a, .post a {
  color: $blue;
}

.post-excerpt {
  border-bottom: 1px dashed $light-gray;
  padding-bottom: 15px;
}

.post-excerpt .with-category {
  margin-bottom: 0;
}

.post-excerpt .category-link {
  font-size: 14px;
  margin-bottom: 15px;
  color: $dark-gray;
}

.post-excerpt .category-link a {
  color: $dark-gray;
}

.post-excerpt:last-child {
  border-bottom: 0;
}

.youtube-container {
  display: block;
  text-align: center;
  padding-top: 50px;
}
