---
---

.exercices
{

	p
	{
		margin: 10px;
		font-size: 12pt;
	}

	hr
	{
		border: 1px dashed #222;
	}


	.header
	{
		border: 1px solid black;
		margin: 20px 0;

		h1
		{
			background-color: #76923c;
			color: white;
			font-weight: bold;
			text-align: center;
			font-size: 14pt;
			padding: 7px;
			border-bottom: 1px solid black;
			margin: 0;
		}

		.description
		{
			background-color: #F7F7F7;
			padding: 7px;
		}
	}

	pre.prettyprint
	{
		text-align: left;
		display: inline-block;
		margin: emCalc(10);
		border: 0;
		padding: 0;
	}

	ol, ul
	{
		line-height: 150%;
		margin-left: emCalc(20);
	}
}
